*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.nav-item a{
    color: white;
}

#infor-device{
    color: #ff9601;
}

.nav-item a:hover{
    color: #ff9601;
}

.name-logo{
    color: #ff9601;
}